.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-image-1 {
  width: 170px;
  height: 170px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-1 {
  margin: -111px 108px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 33px -230px 0 278px;
}

.u-section-1 .u-text-3 {
  margin: 80px 0 0 48px;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(to right, #97b3c5, #db545a);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: -40px auto 60px 395px;
  padding: 9px 22px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 319px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 195px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 244px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-right: 183px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-right: 115px;
  }
}